<!--The whole content below can be removed with the new code.-->




<div *ngIf="updateButton">
<md-select placeholder="Select Movie" #selectedValues name="movie" (change)="setValueToUpdate(selectedValues)">
  <md-option  *ngFor="let movie of movies" [value]="movie">
    {{movie}}
  </md-option>
</md-select>

<md-input-container>
<input mdInput placeholder="Selected Value" #valueToBeUpdated>
</md-input-container>
<button md-button (click)="updateMovie()">Update Now</button> 
<button md-button (click)="updateButton=false">close</button>
</div>
<br>

<div *ngIf="addButton">
<md-input-container>
<input mdInput placeholder="Enter Name" #valueToBeAdd>
<button md-button (click)="addMovie()">Add Now</button>
<button md-button (click)="addButton=false">close</button>
</md-input-container>
</div>
<button md-button (click)="addButton=true">Add</button>

<button md-button (click)="updateButton=true">Update</button>

<br>
<md-list>
 <md-list-item *ngFor="let movie of movies" >
            <h4>{{movie}}</h4>
            </md-list-item>
</md-list>

